#sidebar {
    width: 200px;
    transition: all 0.3s ease;
}

#sidebar.sidebar-expanded {
    width: 200px;
}

#main-content {
    margin-left: 200px;
    transition: all 0.3s ease;
}

@media screen and (min-width:768px) {
    #sidebar {
        width: 50px;
        overflow: hidden;
    }

    #main-content {
        margin-left: 50px;
    }

    #sidebar:hover {
        width: 200px;
        overflow-y: auto;
    }
}

@media screen and (max-width: 767.9px) {
    #sidebar {
        width: 0;
        overflow-y: auto;
        z-index: 2;
    }

    #main-content {
        margin-left: 0 !important;
    }

    body.overlay-visible {
        overflow: hidden;
    }

    #overlay {
        transition: all 0.3s ease;
        opacity: 0.5;
    }

    #sidebar.sidebar-expanded~#overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1) !important;
        z-index: 1;
    }
}